SECURE_MODE=
PORT=
MONGO_URI=

# JWT secret and expiry
JWT_SECRET=
JWT_EXPIRE=7d

# Hostinger Email
HOSTINGER_EMAIL=
HOSTINGER_PASSWORD=

# Email Subject
SUBJECT_FOR_REGISTER_USER=
SUBJECT_FOR_CREATE_PROJECT=
SUBJECT_FOR_LAUNCH_TOKEN=

# Team Wallet
TEAM_WALLET_COUNT=
PERCENT_PER_TEAM_WALLET=

# Bundle Buy Count
BUNDLE_BUY_COUNT=2

# Solana Devnet Mode
DEVNET_MODE=

# Solana Mainnet RPC URL
SOLANA_RPC_URL=

# BloXroute Server URL & Auth Header
BLOXROUTE_SERVER_URL=
BLOXROUTE_AUTH_HEADER=

# Jito Service URL & Auth Private Key
JITO_MAINNET_URL=block-engine.mainnet.frankfurt.jito.wtf
JITO_DEVNET_URL=
